<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Font Link-->
  <link href="https://fonts.googleapis.com/css?family=Chelsea+Market|Roboto" rel="stylesheet">

  <link href="style.css" rel="stylesheet">

  <!--Bootstrap4 Link-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> {{!--

  <!--Side Nav Links-->{{!--
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">--}} {{!--
  <meta name="viewport" content="width=device-width, initial-scale=1.0">--}} {{!--
  <link rel="shortcut icon" href="../favicon.ico">--}} {{!--
  <link rel="stylesheet" type="text/css" href="../css/default.css" />--}} {{!--
  <link rel="stylesheet" type="text/css" href="../css/component.css" />}}


  <!--NavBar Links-->
  <link href='https://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../assets/uiKitJS/uikit-rtl.min.css">
  <link rel="stylesheet" type="text/css" href="../assets/uiKitJS/uikit.min.css">

</head>

<body style='background-image: url("https://www.colourbox.com/preview/2387018-worn-brown-wooden-planking-background.jpg")'>
  <div class="uk-section-primary uk-preserve-color">

    <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">

      <nav class="uk-navbar-container">
        <div class="uk-container uk-container-expand">
          <div uk-navbar>

            <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="welcome_page.html">Welcome</a></li>
            </ul>

          </div>
        </div>
      </nav>
    </div>
  </div>
  <br>
  <nav>
    <ul id="menu">
      <li class="menuItem">Items</li>
      <li class="menuItem">My Items</li>
      <li class="menuItem">Create a new item</li>
      <li class="menuItem">Log in</li>
      <li class="menuItem"><a href="signup">Sign up</a></li>
  </nav>

  <div class="container-fluid">
    <div id="wrapper-login">
      <h1>Login</h1>
      <form action="/login" method="post">
        <label for="piratename">Piratename</label><br>
        <input type="text" name="username" value="" autofocus><br>
        <label for="password1">Password</label><br>
        <input type="password" name="password"><br>
        <br>
        <input class="btn" type="submit" name="login" value="Login">
      </form>
    </div>
  </div>
</body>

{{!--
<script rel="javascript" href="../../js/uikit-icons.min.js"></script>--}} {{!--
<script rel="javascript" href="../../js/uikit.min.js"></script>--}}

</html>
