<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Font Link-->
  <link href="//fonts.googleapis.com/css?family=Chelsea+Market|Roboto" rel="stylesheet">

  <!--CSS Link-->
  <link href="style.css" rel="stylesheet">

  <!--Bootstrap4 Link-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>

<body>

  <!--NavBar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="nav justify-content-end" id="menu">
      <li class="menuItem">Items</li>
      <li class="menuItem">My Items</li>
      <li class="menuItem">Create a new item</li>
      <li class="menuItem">Log in</li>
      <li class="menuItem"><a href="signup">Sign up</a></li>
  </nav>

  <!--Content Container-->
  <div class="container-fluid">
    <div id="wrapper-login">
      <br>

      <!--Heading with Brief Instructions-->
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4" style="font-family: 'Chelsea Market', cursive;">Log In</h1>
          <p>Enter your user credentials below and climb aboard!</p>
        </div>
      </div>
      <hr>

      <!--Login Form-->
      <div class="row logInForm">
        <div class="col-md-12">
          <form action="/login" method="post">

            <!--Pirate Name Input Field and Label-->
            <label for="piratename">Piratename</label><br>
            <input type="text" name="username" value="" autofocus><br>
            <br>
            <!--Password Input Field and Label-->
            <label for="password1">Password</label><br>
            <input type="password" name="password"><br>
            <br>

            <!--Log In Button-->
            <input class="btn" type="submit" name="login" value="Login">
            <br><br>
          </form>
        </div>
      </div>


    </div>
  </div>


</body>

<!--Bootstrap Scripts-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

</html>
