h1,
p,
.logInForm,
.signUpForm {
    font-family: 'Chelsea Market', cursive;
    text-align: center;
}

body {
    background-image: url("https://www.colourbox.com/preview/2387018-worn-brown-wooden-planking-background.jpg");
}

.container-fluid {
    width: 90%;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    opacity: .95;
    border-radius: 10px;
}

.btn {
    background-color: black;
    color: white;
}



.navbar {
    background-color: black;
    color: white;
    opacity: .90;
}

.menuItem {
    padding-left: 30px;

}

.message {
    border-style: solid;
}
