body {
    background-image: url("../../images/brickwall.png");
}

#nav {
    background-color: black;
}

.jumbotron {
    background-image: url("https://wallpaperscraft.com/image/ship_sea_sail_storm_black_white_11161_2560x1440.jpg");
    background-size: 100% 100%;
}

.container-fluid {
    width: auto;

}

h1 {
    font-family: 'Chelsea Market', cursive;
    color: white;
}

h3 {
    font-family: 'Chelsea Market', cursive;
}

.btn {
    background-color: black;
    color: white;
}

img {
    width: auto;
    height: 150px;
}
