#dl-menu {
    z-index: 1000;
}

body {
    background-image: url("https://www.colourbox.com/preview/2387018-worn-brown-wooden-planking-background.jpg");
}

.container-fluid {
    width: 90%;
    background-color: white;
    opacity: .95;
    border-radius: 10px;

}

.btn {
    background-color: black;
    color: white;
}

h1 {
    font-family: 'Chelsea Market', cursive;
}

/*CSS for Parrot Animation*/

@import url(http://devsarray.com.ar/hernan/reset.css);
/*body {
    */

/*    width: 100%;*/

/*    height: 300px;*/

/*    position: absolute;*/

/*    overflow: hidden;*/

/*}*/

.piopio {
    position: relative;
}

#pajaro {
    left: 100%;
    -moz-animation: volar 5s infinite;
    -webkit-animation: volar 5s infinite;
    -o-animation: volar 5s infinite;
    -ms-animation: volar 5s infinite;
    -khtml-animation: volar 5s infinite;
    animation: volar 5s infinite;
}

@-moz-keyframes volar {
    0% {
        top: 5px;
    }
    25% {
        top: 100px;
    }
    50% {
        top: 80px;
    }
    75% {
        top: 25px;
    }
    100% {
        left: -177px;
        top: 102px;
    }
}

@-webkit-keyframes volar {
    0% {
        margin-left: 100%;
        top: 5px;
    }
    25% {
        top: 100px;
    }
    50% {
        top: 80px;
    }
    75% {
        top: 25px;
    }
    100% {
        left: -177px;
        top: 102px;
    }
}

@-o-keyframes volar {
    0% {
        top: 5px;
    }
    25% {
        top: 100px;
    }
    50% {
        top: 80px;
    }
    75% {
        top: 25px;
    }
    100% {
        left: -177px;
        top: 102px;
    }
}

@-ms-keyframes volar {
    0% {
        top: 5px;
    }
    25% {
        top: 100px;
    }
    50% {
        top: 80px;
    }
    75% {
        top: 25px;
    }
    100% {
        left: -177px;
        top: 102px;
    }
}

@-khtml-keyframes volar {
    0% {
        top: 5px;
    }
    25% {
        top: 100px;
    }
    50% {
        top: 80px;
    }
    75% {
        top: 25px;
    }
    100% {
        left: -177px;
        top: 102px;
    }
}

@keyframes volar {
    0% {
        left: 100%;
        top: 5px;
    }
    25% {
        top: 100px;
    }
    50px {
        top: 80px;
    }
    75% {
        top: 25px;
    }
    100% {
        left: -177px;
        top: 102px;
    }
}
